body {
	@include media(">=tablet") {
		.main {
			padding-bottom: 44px;

			.h {
				justify-content: flex-start;
				margin-bottom: 30px;
			}

			h2 {
				font-size: $font-size-base - 4.5;
			}

			.main-btn {
				justify-content: center;
			}

			.grid {
				margin: -10px -10px 32px;
			}

			.col-12 {
				padding: 10px;
			}
		}

		.card {

			.plus {
				&::before {
					width: 13px;
					height: 3px;
				}

				&::after {
					width: 3px;
					height: 13px;
				}
			}
		}
	}

	@include media(">=desktop") {
		.main {
			padding-top: 85px;

			h1{
				font-size: $h1-font-size + 6;
				border-left: $border-left;
				border-bottom: none;
				padding-left: 15px;
				padding-bottom: 0;
			}

			.h {
				margin-bottom: 62px;
			}

			.row {
				margin: -15px -15px 47px;
			}
		
			.col {
				padding: 15px;
			}

			.card {
				h2{
					font-size: $font-size-base + 2;
					padding: 20px;
				}
				
				.plus {
					&::before {
						width: 20px;
						height: 4px;
					}
	
					&::after {
						width: 4px;
						height: 20px;
					}
				}
			}
		}	
	}
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	padding: 34px 0;

	h1 {
		margin: 0;
		padding-bottom: 2px;
		border-bottom: $border-bottom;
	}

	.grid {
		margin: 0 -13px 25px;
	}

	.col-12 {
		padding: 13px;
	}

	.h {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
	
	.main-btn {
		@extend .h;
		font-size: $btn-font-size;
	}
}
