.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	padding: 34px 0;
	@include media(">=tablet") {
		padding-bottom: 44px;
	}

	@include media(">=desktop") {
		padding-top: 85px;
	}

	h1 {
		margin: 0;
		padding-bottom: 2px;
		border-bottom: 4px solid $light-gray;
		@include media(">=desktop") {
			font-size: $h1-font-size + 6;
			border-left: 10px solid $light-gray;
			border-bottom: none;
			padding-left: 15px;
			padding-bottom: 0;
		}
	}

	.h {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		@include media(">=tablet") {
			justify-content: flex-start;
			margin-bottom: 30px;
		}

		@include media(">=desktop") {
			margin-bottom: 62px;
		}
	}

	.grid {
		margin: 0 -13px 25px;
		@include media(">=tablet") {
			margin: -10px -10px 32px;
		}

		@include media(">=desktop") {
			margin: -15px -15px 47px;
		}
	}

	.col-12 {
		padding: 13px;
		@include media(">=tablet") {
			padding: 10px;
		}

		@include media(">=desktop") {
			padding: 15px;
		}
	}

	.main-btn {
		@extend .h;
		font-size: $btn-font-size;
		@include media(">=tablet") {
			justify-content: center;
		}
	}
}
