.card {
    position: relative;
    width: 100%;
    height: 100%;

    .hover-box {
        background-color: $dark-transparent;
        @include alignment(base, 0, 0);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: $transition-opacity;
        cursor: pointer;
    }

    h2 {
        background-color: $dark-gray;
        padding: 17px;
        margin: 0;
    }

    &:hover {
        .hover-box {
            opacity: 1;
        }
    }

    .plus {
        flex-grow: 1;
        position: relative;
    }

    .plus {
        &::before {
            width: 17px;
            height: 3px;
        }

        &::after {
            width: 3px;
            height: 17px;
        }

        &::before,
        &::after {
            @include alignment(content, 50, 50);
            background-color: $white;
        }
    }
}

