$column: 12;

.grid {
	display:flex;
	flex-wrap: wrap;
}

@for $i from 1 through $column {
	.col-#{$i} {
		width: 100% / $column * $i;
	}
}

@include media ('>=phone', '<tablet') {
	@for $i from 1 through $column {
		.col-#{$i} {
			width: 50% / $column * $i;
		}
	}
}

@include media ('>=tablet', '<desktop') {
	@for $i from 1 through $column {
		.col-#{$i} {
			width: 33.33% / $column * $i;			
		}
	}
}

@include media ('>=desktop') {
	@for $i from 1 through $column {
		.col-#{$i} {
			width: 33.33% / $column * $i;
		}
	}
}

