@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&::-moz-placeholder {opacity: 1; @content}
	&:-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
	&.placeholder {@content}
}

@mixin alignment($content, $absolute, $transform) {
	position: absolute;
	@if $content == content {
		content: '';
	} @else if $content == base {
	}
	@if $absolute == 50 {
		top: 50%;
		left: 50%;
	} @else if $absolute == 0 {
		top: 0;
		left: 0;
	}
	@if $transform == 50 {
		transform: translate(-50%, -50%);
	} @else if $transform == 0 {
	}
}


