$blue: #007bff;
$gray: #3a454d;
$black: #000;
$white: #fff;
$dark-gray: #292f36;
$light-gray: #4e5a62;

$base-font-sans-serif: 'Roboto', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

$base-text-color: $white;
$base-background-color: $gray !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;
$base-font-weight: 400;

$base-min-width: 320px;

$base-link-color: $blue;

$form-element-border-color: $gray;
$form-element-focus-border-color: $black;
$placeholder-color: $gray ;

$h1-font-size: 30px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 17px;
$h6-font-size: $font-size-base;
$btn-font-size: 14px;

$transition-color: color .3s ease-in-out, background-color .3s ease-in-out;
$transition-opacity: opacity .3s ease-in-out;